
body {
    margin-bottom: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}
.topContainer {
    text-align: center;
    width: 100%;
    color: white;
    text-indent: 2%;
    top: -5%;
    left: 0;
    position: fixed;
    box-sizing: border-box;
    background-color: white;
    z-index: 1;
}
.midContainer {
    width: 50%;
    position: relative;
    margin-left: 25%;
    border: 1px solid black;
}
.midFormatting {
    margin-left: 5%;
}

h1 {
    font-size: xx-large;
    background-color: #387373;
}
nav {
    margin-top: -2%;
    font-size: 30px;
    background-color: #93BFB7;
    padding-bottom: 5px;
    border-bottom: 5px solid #2D3E40;
}
a {
    padding-right: 50px;
    color: white;
}
.contents {
    text-align: center;
    font-size: large;
    margin-top: 8%;
}
.listings {
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin-bottom: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.product-card-front {
    width: 100%;
    height: 100%;
    border: 5px solid #2D3E40;
    margin-right: 28%;
    margin-left: 28%;
    margin-bottom: 5%;
}
.productDescription {
    display: grid;
    width: 750px;
    height: 750px;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
    text-align: left;
    padding-left: 2%;
}
input[type=text]{
    width: 95%;
}
input[type=submit]{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
    width: 94%;
    padding: 2%;
    color: white;
    background-color: #387373;
}
footer {
    width: 100%;
    height: 50px;
    bottom: 0%;
    left: 0%;
    position: fixed;
    color: white;
    text-align: center;
    background-color: #387373;
}